body, html {
  font-size: 16px;
    color: aliceblue;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    --pom: #e88704;
}


header {
    display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  background-color: #0b0c10;
}

button {
    color: #ffffff;
    background: none;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 0.7em 3em 0.7em 3em;
    margin: 1em;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--pom);
background-image: linear-gradient(to right, #c27001, #d17b08, #df870f, #ee9216, #fd9e1c);
}

.container {
  position: absolute;
  top: 5em;
  bottom: 7em;
  left: 0;
  right: 0;
    padding: 0.5em;
  background-color: #2a2d36;
  overflow: auto;
}

.head {
    text-align: center;
   
}
.head h1 {
    margin-bottom: 0;
}

.head p {
    margin: 0.8em auto 4em auto;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    width: 9rem;
}

.logo {
    margin-left: 2em;
    margin-top: 0.5em;
     border-radius: 50px;
     width: 4em;
    height: 4em;
    background-color: #303032;
    cursor: pointer;
}

.logo:hover{
     background-color: var(--pom);
}

.logo:hover > #imgLogo2 {
    transform: scale(1.1);
}

#imgLogo2{
    width: 2.6em;
    position: relative;
    margin: 0.7em;

}

.personData {
    margin-left: auto;
    margin-right: 3em;
    text-align: right;
    padding: 0.5em;
}

.personData H3 {
    margin: 0.2em;;
}

.blocks {
    display: flex;
}

.blockItem {
    text-align: center;
    width: 33%;
}

.headBlock{
    text-align: center;
    text-transform: uppercase;
    font-size: 
    margin: 3em;
   
}

.radioContainer{
    text-align: left;
}


input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


input[type="radio"] + label {
  position: relative;
  padding-left: 2.8em;
    padding-top: 0.2em;    
  cursor: pointer;
}


input[type="radio"] + label:before,
input[type="radio"] + label:after {
  content: ' ';
  position: absolute;
  box-sizing: border-box;
}

input[type="radio"] + label:before {
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  border: 3px solid #ffffff;
  border-radius: 2px;
}

input[type="radio"] + label:after {
  top: 7px;
  left: 7px;
  height: 12px;
  width: 12px;
  border-radius: 2px;
}

input[type="radio"] + label:before,
input[type="radio"] + label:after {
  border-radius: 50%;
}

input[type="radio"]:checked + label:after {
  background-color:#ffffff;
}


.radio {
    margin: 1.5em;
}

form {
  display: block;
  flex-flow: row nowrap;
  box-sizing: border-box;
}

.wrapText{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7em;
  background-color: #15161a;
  text-align: center;
    
}

.left {
    width: 33%;
    cursor: pointer;
}

.nabthat {
    padding-top: 2.5em;
    width: 33%;
    text-align: center;
}


.nabthat h3:before, .nabthat h3:after {
  content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
  text-decoration: line-through;
  margin: 0 0.3em;
}

.nabthat h3 {
    color: gray;
    margin: 0;
}

.naDole{
    position: absolute;
    bottom: 0;
    right: 3em;
}
.ac-container{
    position: absolute;
    bottom: 0;
    right: 3em;
	text-align: left;
}
.ac-container label{
	padding: 0.4em;
	position: relative;
	z-index: 20;
	display: block;
	width: 14em;
	cursor: pointer;
	color: #777;
	line-height: 1.5em;
	font-size: 1em;
	
}

.ac-container label:hover {
	border-color: #ffffff;
    color: #ffffff;
}

.ac-container:hover .up {
	border-color: #ffffff;
}

.ac-container input{
	display: none;
}

.ac-container article{
   color: #303032;
    bottom: 7em;
	background: #ffffff;
    width: 14.4em;
	overflow: hidden;
	height: 0px;
	position: absolute;
    

	transition: padding 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
	
}

.ac-container article ul{
	list-style-type: none;
}

.ac-container input:checked ~ article.ac-large{

    width: 14.4em;
    position: absolute;
    bottom: 7em;
    padding: 0.2em 0.2em 4.5em 0.2em;
    border-radius: 2px;
    box-shadow: 5px -5px 5px 0px rgba(0,0,0,0.75);
}

.ac-container input:checked ~ .showButton i{
    transform: rotate(45deg);
}

.ac-large ul {
    cursor: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 0.5em;
    padding-left: 0.5em;
    line-height: 1.5em;
     color: black;
}

i {
    
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#reset:hover {
    color: var(--pom);
}

#reset:hover > i {
    border: solid #eb8000;
  border-width: 0 3px 3px 0;
}


#showPerson:hover {
    color: var(--pom);
}

#showPerson:hover > i {
    border: solid #eb8000;
  border-width: 0 3px 3px 0;

}

.showButton {
    width: 14em;
   margin-bottom: 2em;
    
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}


fieldset {
  width: 50%;
  padding: 5px 15px 15px;
  box-sizing: border-box;
}



.awesome {
    opacity: 0;
    max-width: 5.5em;
    display: flex;
    text-align: left;
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-left: 2em;
}

.awesome:hover {
    opacity: 100;
}

.awesome a{
    margin: 0;
    text-transform: uppercase;
}
.border {
    z-index: 0;
    height: 4em;
    width: 5.5em;
    margin-left: -5.3em;
    border: 2px solid #eb8000;
}
.border:hover {
	
	        animation: rotate-scale-down 0.65s linear both;
}



/*****MEDIA********/


@keyframes rotate-scale-down {
  0% {
            transform: scale(1) rotateZ(0);
  }
  50% {
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
            transform: scale(1) rotateZ(360deg);
  }
}

.right {
    
    margin-right: 0.8em;
  transform: rotate(-45deg);

}

.up {
    margin-left: 0.6em;
border-color:#777;
  transform: rotate(-135deg);
}


@media only screen and (max-width: 1600px){
     body, html { 
        font-size: 14px;
         
}
}
    
@media only screen and (max-width: 1300px){
     body, html { 
        font-size: 12px;
}
    
}

@media only screen and (min-width: 400px) and (max-width: 1281px) {
     body, html { 
        font-size: 30px;
}
    
    .bi1, .bi2 {
        width: 50%;
    }
    
    .bi3 {
        top: 38vh;
        position: absolute;
        width: 100%;
    }
    
    .nabthat {
        display: none;
    }
    
    button {
        font-size: 1em;
        margin: 0;
    }
    
    .btn1 {
        margin-bottom: 1em;
    }
    
    input[type="radio"] + label:before {
        transform: scale(2);
}

input[type="radio"] + label:after {
    transform: scale(2);
}
    
    input[type="radio"] + label {
    padding-top: 0;    
}
    
    .arrow {
        vertical-align: super;
    }
    
}